<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/output.css">
  <style>
    @font-face {
      font-family: 'Tamil';
      src: local('Noto Sans Tamil'), local('Lohit Tamil');
    }
  </style>
</head>
<body class="bg-gray-50">
