modules = ["nodejs-20", "go-1.21", "web", "python-3.12", "bash", "postgresql-16"]
[agent]
expertMode = true
integrations = ["javascript_gemini_ai_integrations:1.0.0"]

[nix]
channel = "stable-25_05"
packages = ["go", "google-cloud-sdk-gce"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dev-server"

[[workflows.workflow]]
name = "dev-server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash start.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 37895
externalPort = 3001

[[ports]]
localPort = 41835
externalPort = 5000

[[ports]]
localPort = 42019
externalPort = 3003

[[ports]]
localPort = 44501
externalPort = 3000

[[ports]]
localPort = 45303
externalPort = 3002

[[ports]]
localPort = 46253
externalPort = 4200

[deployment]
deploymentTarget = "vm"
run = ["bash", "-c", "export FRONTEND_URL=https://${REPLIT_DOMAINS} && ./server & cd frontend && npm run start"]
build = ["bash", "-c", "cd backend && go build -o ../server cmd/server/main.go && cd ../frontend && npm run build"]
